In [1]:
import pandas as pd

In [13]:
content_df=pd.read_csv("content.csv")
user_df = pd.read_csv("user.csv")

In [14]:
relationship_df = pd.read_csv("relationship.csv")

In [28]:
test_df = pd.read_csv("test.csv")

In [33]:
test_df[test_df['user_id'].isin(user_df['user_id'])].shape

(1440, 1)

In [34]:
test_df[test_df['user_id'].isin(relationship_df['user_id'])].shape

(1002, 1)

In [42]:
user_df[~user_df['user_id'].isin(relationship_df['user_id'])]['user_id'].isin(test_df['user_id']).sum()

438

In [47]:
relationship_df.rename(columns={'duration':'view_time'},inplace=True)
content_df.rename(columns={'duration':'content_duration'},inplace=True)

In [51]:
merge_file=relationship_df.merge(user_df,on=['user_id'],how='inner').merge(content_df,on=['content_id'],how='inner')

In [54]:
merge_file.to_csv("Merge_file.csv")

In [57]:
merge_file['user_id'].value_counts()

user_19736@domain.com    923
user_70392@domain.com    906
user_23337@domain.com    871
user_36363@domain.com    860
user_35081@domain.com    837
                        ...
user_8276@domain.com       1
user_44016@domain.com      1
user_1375@domain.com       1
user_15379@domain.com      1
user_31186@domain.com      1
Name: user_id, Length: 10923, dtype: int64

In [59]:
merge_file.columns

Index(['user_id', 'content_id', 'view_time', 'date', 'start_time', 'end_time',
       'user_age', 'gender', 'location', 'joining_date', 'content_type',
       'language', 'genre', 'content_duration', 'release_date', 'rating',
       'episode_count', 'season_count'],
      dtype='object')

In [62]:
required_cols=merge_file.groupby(['user_id','content_id','user_age','gender','location','joining_date',
                    'content_type','language', 'genre', 'content_duration', 'release_date', 'rating',
       'episode_count', 'season_count'])['view_time'].sum().reset_index()

In [65]:
required_cols['content_duration_mins']=required_cols['content_duration']/60000
required_cols['view_time_mins']=required_cols['view_time']/60000

In [67]:
required_cols['time_left']=required_cols['content_duration_mins']-required_cols['view_time_mins']

In [70]:
required_cols['ratio_view_time_left']=required_cols['view_time_mins']/required_cols['time_left']

In [78]:
required_cols['%watch']=round((required_cols['view_time_mins']/required_cols['content_duration_mins'])*100,2)

In [79]:
required_cols

,user_id,content_id,user_age,gender,location,joining_date,content_type,language,genre,content_duration,release_date,rating,episode_count,season_count,view_time,content_duration_mins,view_time_mins,time_left,ratio_view_time_left,%watch
0,user_10013@domain.com,cont_1003_13_7,38,F,Odisa,2018-02-26,series,hindi,drama,2460000,2018-11-15,5,7,13,2220000,41.0,37.0,4.0,9.250000,90.24
1,user_10013@domain.com,cont_1007_7_10,38,F,Odisa,2018-02-26,series,hindi,drama,3480000,2011-07-13,8,10,7,420000,58.0,7.0,51.0,0.137255,12.07
2,user_10013@domain.com,cont_1020_17_9,38,F,Odisa,2018-02-26,series,hindi,horror,3300000,2017-02-21,3,9,17,1920000,55.0,32.0,23.0,1.391304,58.18
3,user_10013@domain.com,cont_1026_1_13,38,F,Odisa,2018-02-26,sports,hindi,cricket,3480000,2001-08-07,0,13,1,540000,58.0,9.0,49.0,0.183673,15.52
4,user_10013@domain.com,cont_1032_8_21,38,F,Odisa,2018-02-26,series,telugu,horror,3300000,1998-10-15,1,21,8,2100000,55.0,35.0,20.0,1.750000,63.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1639745,user_99974@domain.com,cont_758_7_8,20,M,Assam,2019-04-29,series,hindi,documentary,3420000,2020-02-18,10,8,7,900000,57.0,15.0,42.0,0.357143,26.32
1639746,user_99974@domain.com,cont_760_2_19,20,M,Assam,2019-04-29,series,hindi,comedy,4680000,2003-06-02,8,19,2,3540000,78.0,59.0,19.0,3.105263,75.64
1639747,user_99974@domain.com,cont_760_6_10,20,M,Assam,2019-04-29,series,hindi,comedy,4920000,2007-04-30,8,10,6,4200000,82.0,70.0,12.0,5.833333,85.37
1639748,user_99974@domain.com,cont_868_1_23,20,M,Assam,2019-04-29,series,hindi,sci-fi,3540000,2019-04-28,10,23,1,2340000,59.0,39.0,20.0,1.950000,66.10
1639749,user_99974@domain.com,cont_921_1_12,20,M,Assam,2019-04-29,sports,hindi,cricket,4680000,2006-09-05,0,12,1,2760000,78.0,46.0,32.0,1.437500,58.97

In [82]:
required_cols['content_rank']=required_cols.sort_values(['%watch'],ascending=False).groupby(['user_id']).cumcount()+1

In [85]:
required_cols.sort_values(['user_id','%watch'],ascending=False,inplace=True)

In [90]:
df_all=required_cols.copy()

In [92]:
df_all.columns

Index(['user_id', 'content_id', 'user_age', 'gender', 'location',
       'joining_date', 'content_type', 'language', 'genre', 'content_duration',
       'release_date', 'rating', 'episode_count', 'season_count', 'view_time',
       'content_duration_mins', 'view_time_mins', 'time_left',
       'ratio_view_time_left', '%watch', 'content_rank'],
      dtype='object')

In [93]:
df_all['total_episodes'] = df_all['season_count']*df_all['episode_count']

In [96]:
df_all.to_pickle("Data_prep1.pkl")

In [ ]:
df_all.drop(columns=['view_time_mins', 'time_left',
       'ratio_view_time_left'])